<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pixel</title>
    <link type="text/css" rel="stylesheet" href="/user/css/error500style.css"/>
</head>
<body>
    <div id="error">Error</div>
<div class="error-num">500
  <div class="error-num__clip">500</div>
</div>
<p id="desc">Uh oh, there seems to be a problem.</p>
<p>Let me help you find <a href="/admin" >a way out</a></p>
</body>
</html>