<%- include('../layout/admin/header.ejs')%>

  <main id="main" class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">

            <form action="/verifyotp" class="box" method="post">
              <h1>OTP</h1>

              <% if(typeof message !=='undefined' ){ %>
                <h5 style="color: rgb(224, 86, 86);">
                  <%= message %>
                </h5>
                <% } %>
                  <input type="text" name="otp" placeholder="OTP" required="required">
                  <!-- <input type="text" name="lastname" placeholder="Last Name" required> <input
                            type="email" name="email" placeholder="Email" required> <input type="text"
                            name="username" placeholder="Username" required> <input type="password"
                            name="password" placeholder="Password" required> -->

                  <input type="submit" value="submit">
                  <div class="col-md-12">
                    <ul class="social-network social-circle">
                      <!-- <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab
                                    fa-facebook-f"></i></a></li> <li><a href="#" class="icoTwitter"
                                    title="Twitter"><i class="fab fa-twitter"></i></a></li> <li><a href="#"
                                    class="icoGoogle" title="Google +"> -->
                      <!-- <i class="fab fa-google-plus"></i></a></li> -->

                    </ul>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- End #main -->

  <%- include('../layout/admin/footer.ejs')%>